@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Inter', 'Poppins', -apple-system, BlinkMacSystemFont, Inter, Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background: #a8ff78;  /* fallback for old browsers */
    background: linear-gradient(to right, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.header {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100vw;
    height: 11vh;
}
.header_hidden {
    transform: translateY(-100%);
  }
.logo {
    width: 14vw;
    display: flex;
    margin-top: 1vh;
    margin-left: 1vw;
}
.navigator {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 150, 95, 0.9);
    border-radius: 3vw;
    margin-left: 7.5vw;
    width: 55vw;
    height: 8.5vh;
    margin-top: 1vh;
    left: 20vw;
}
.nav_buttons {
    width: 15vw;
    height: 1vh;
    line-height: 8.5vh;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5vw;
    color: white;
}
.main {
    display: flex;
    margin-top: 20vh;
    margin-left: 22vw;
    margin-right: 16vw;
    max-width: 55vw;
    height: 100%;
    gap: 10px;
    flex-direction: column;
}
.club-main {
    display: grid;
    grid-template-columns: 15vh 15vh;
    grid-template-rows: 15vw 10vw;
    row-gap: 100px;
    column-gap: 20px;
    position:relative;
    padding-bottom:50px;
}
.club-img {
    display: flex;
    width: 25vw;
    border-radius: 35px;
}
.club-block {
    display: flex;
    border-radius: 35px;
    background-color: rgb(0, 150, 95, 0.7);
    margin-left: 21.5vw;
    width: 25vw;
    height: 49.5vh;
    padding: 2vh 1.5vw 1.5vh 1.5vw;
    flex-direction: column;
}
.club-name {
    display: flex;
    color: white;
    font-size: 26px;
    font-weight: 800;
    height: 3vh;
    justify-content: center;
}
.club-info {
    display: flex;
    color: white;
    font-size: 22px;
    font-weight: 600;
    margin-top: 8vh;
    margin-bottom: 10vh;
    word-break: break-all;
}
.club-ruk {
    color: white;
    font-size: 20px;
    font-weight: 600;
}
footer {
    display: flex;
    background-color: rgb(0, 150, 95, 0.3);
    width: 100%;
    height: 13vh;
}
.icons {
    margin-top: 3.5vh;
    margin-left: 46vw;
}
.footer-icon {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}
.icon {
    width: 6vh;
}
@media screen and (max-width: 900px) {
    header {
        margin-left: 2.5vw;
    }
    .navigator {
        height: 4vh;
    }
    .nav_buttons {
        margin-top: 1vh;
        height: 2vh;
        line-height: 1.8vh;
        font-size: 2.5vw;
    }
    .logo {
        width: 27vw;
    }
    .main {
        margin: 0 0 0 5vw;
    }
    .club-img {
        border-radius: 15px;
        width: 43vw;
    }
    .club-block {
        width: 45vw;
        height: 19.5vh;
        margin-left: 7vw;
        border-radius: 15px;
    }
    .club-name {
        font-size: 12px;
    }
    .club-info {
        margin-top: 1vh;
        margin-bottom: 4vh;
        font-size: 8px;
    }
    .club-ruk {
        font-size: 8px;
    }
}